{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block content %}
    <table>
        <thead>
        <tr>
            <th>Numéro de l'étudiant</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Login</th>
            <th>Email</th>
            <th>Modifier</th>
            <th>Supprimer</th>
        </tr>
        </thead>
        <tbody>
        {% for unEtudiant in tblEtudiant %}
            <tr>
                <th>{{ unEtudiant.getIdEtudiant }}</th>
                <th>{{ unEtudiant.getNom }}</th>
                <th>{{ unEtudiant.getPrenom }}</th>
                <th>{{ unEtudiant.getLogin }}</th>
                <th>{{ unEtudiant.getEmail }}</th>
                <th><a href="/etudiant/update/{{ unEtudiant.getIdEtudiant }}">Modifier l'étudiant</a></th>
                <th><a href="/etudiant/delete/{{ unEtudiant.getIdEtudiant }}">Supprimer l'étudiant</a></th>
            </tr>
        {% endfor %}

        </tbody>
    </table>
    <a href="/etudiant/formulaire">Creer un étudiant</a>
{% endblock %}